<h1>Hello</h1>
<%= form_for [@user,@booking] ,local:true do |f|%>
<% if @booking.errors.any?%>
<div id="error_explanation">
      <h2>
        <%= pluralize(@booking.errors.count, "error") %> prohibited
        this booking relation from being saved:
      </h2>
      <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <%= f.hidden_field :hospital_test_id, :value => @hospital_test.id%>
    </div>
    <div class="field">
    <%= f.hidden_field :user_id, :value => params[:user_id] %>
    </div>
    <div class="box">
    <%= Test.find((@hospital_test.test_id)).name%>
    </div>
    <br>
    <h3>Hospital Name</h3>
    <div class="box">
    <%= Hospital.find((@hospital_test.hospital_id)).Hname%>
    </div>
    <div class="field">
     <%= f.label :bookingdate %><br>
    <%= f.text_field :bookingdate,data:{provide: 'datepicker'} %>
    </div>
  <div class="actions"><%= f.submit %>
  </div>
 
  <% end%>