<h1>Hello</h1>
<%= form_with(model: @hospital_test, local: true) do |form| %>
 
  <% if @hospital_test.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hospital_test.errors.count, "error") %> prohibited
        this hospital_test relation from being saved:
      </h2>
      <ul>
        <% @hospital_test.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <h3>Select the test</h3>
  <%= collection_select(:hospital_test,:test_id,Test.all,:id, :name) %>
  </p> 
  <p>
  <h3>Select the hospital available for test</h3>
  <%= collection_select(:hospital_test,:hospital_id,Hospital.all,:id, :Hname) %>
  </p> 
  <p>
    <%= form.submit %>
  </p>
 <%end%>
 
 