<h1>Lists Of Hospitals</h1>
<%= form_tag hospitals_path,method: :get do %>
<%= text_field_tag 'search',params[:search],placeholder:"Enter hospital name"%>
<%= submit_tag 'Search',:name => nil %>
<%end%>
<table>
  <tr>
    <th>Hospital Name</th>
    <th>Hospital Contact</th>
     <th>Hospital Address</th>
    <th>Hospital Email</th>
     <th>Hospital Website</th>
      <th>Number of tests/day</th>
      <th>Tests conducted under the hospital</th>
      
  </tr>
  <%@hospitals.each do |hospital|%>
  <tr>
      <% if hospital.respond_to?(:pg_search_highlight)%>
      <td><%= hospital.pg_search_highlight.html_safe%></td>
      <%else%>
      <td><%= hospital.Hname %></td>
      <%end%>
      <td><%= hospital.contact %></td>
       <td><%= hospital.Haddress %></td>
        <td><%= hospital.email %></td>
         <td><%= hospital.website %></td>
          <td><%= hospital.no_of_test %></td>
            <td>
       <table>
       
       <%hospital.tests.each do |test| %>
        <tr><%= test.name%><br> </tr>
        <%end%>
        </table>
        </td>
            
           <td> <%= button_to 'Show',hospital_path(hospital),:method => :get %></td>
           <%if current_user && current_user.admin? %>
          <td><%= button_to 'Edit', edit_hospital_path(hospital),:method => :get %></td> 
          <td> <%= button_to 'Destroy', hospital_path(hospital),
          method: "delete", remote: true, data: { confirm: 'Are you sure?'} %></td>
          <%end%>

      <!--<td><%= link_to 'Show', hospital_path(hospital) %></td>
      <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
       <td><%= link_to 'Destroy', hospital_path(hospital),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
</table>
<%if current_user && current_user.admin? %>
<%= button_to 'New hospital', new_hospital_path,:method => :get %>
<%end%>

 