<style>
.hidden{
    display:none;
}
</style>
<h1>Edit test details</h1>
<%= form_with(model: @test, local: true)  do |form| %>
 
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@test.errors.count, "error") %> prohibited
        this test from being saved:
      </h2>
      <ul>
        <% @test.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :testdescription ,class:"hidden"%>Test Description<br>
    <%= form.text_field :testdescription %>
  </p>

 
    <%= form.label :testamount ,class:"hidden"%>Test Amount<br>
    <%= form.number_field :testamount%>
  </p>
  <p>
   <%= form.fields_for (@hospital_test) do |ht|%>
   <%= ht.label "All hospitals"%><br />
   <%= collection_select(:hospitals,:ids,@hospitals,:id,:Hname,{:selected =>@test.hospitals.map(&:id)},{:multiple => true})%>
   <%end%>
   </p>
   <p>
    <%= form.submit %>
  </p>
 
<% end %>