<%= form_tag test_path(@test) ,:method => 'get' do %>
<h3>Search for hospital</h3>
<p>
<%= collection_select(:hospital,:ids,Hospital.all,:id,:Hname,include_blank: true)%>

<%= submit_tag "Search" ,:name => nil%>
</p>
<%end%>
<table class="c">
  <tr>
    <th>Test Name</th>
    <th>Test Desciption</th>
     <th>Test amount</th>
  </tr>
 </tr>
  <tr style="text-align:center;" >
      <td><%= @test.name %></td>
      <td ><%= @test.testdescription %></td>
       <td><%= @test.testamount %></td>
    </tr>
</table>
<table style="text-align:center;"><tr>
<th>Hospital Name</th>
</tr>

<%if @hospitals.present?%>
<%@hospitals.each do |form|%>
<tr>
<td><%= form.Hname %></td>
<% @hospitaltest=HospitalTest.where("test_id = ? AND hospital_id = ?", form.id, @test.id)%>
<!--<td><%= button_to 'To Book appointments',hospital_tests_path ,:method => :get%></td>
<td><%= button_to 'Destroy the association',hospital_tests_path,:method => :get %></td>-->
<%if user_signed_in? && current_user%>
<td><%= button_to "Book Appointments",new_user_booking_path(current_user),:method => :get,params: {hospital_test_id: @hospitaltest.ids}%></td>
<%else%>
<td>
<%=button_to 'Book Appointment',new_user_session_path(@user),:method => :get,params: {hospital_test_id: @hospitaltest.ids}%>
</td>
<%end%>
</tr>
<%end%>

<%elsif params[:hospital].blank?%>
<% @test.hospitals.each do |form|%>


<tr>
<td><%= form.Hname %></td>
<% @hospitaltest=HospitalTest.where("test_id = ? AND hospital_id = ?", @test.id, form.id)%>
<%if user_signed_in? && current_user%>
<td><%= button_to "Book Appointments",new_user_booking_path(current_user),:method => :get,params: {hospital_test_id: @hospitaltest.ids}%></td>
<%else%>
<td>
<%=button_to 'Book Appointment',new_user_session_path(@user),:method => :get%>
</td>
</tr>
<%end%>
<!--<td><%= button_to 'To Book appointments',hospital_tests_path ,:method => :get%></td>
<td><%= button_to 'Destroy the association',hospital_tests_path,:method => :get %></td>-->
<%end%>
<%else%>
<p>No records found</p>
<%end%>
</table>
<div class="button1">
 <%if current_user && current_user.admin? %>
<%= button_to 'Edit', edit_test_path(@test),:method => :get %> 

<%= button_to 'Destroy', test_path(@test),
          method: "delete", remote: true, data: { confirm: 'Are you sure?'} %>
          <%end%>
       <%= button_to 'Back',tests_path,:method => :get %>   
</div>